<div class="table_div widget green">
  <div class="widget-title">
    <h4>
      <span class="glyphicon glyphicon-list"aria-hidden="true" ></span>
      <span class="table_h" ng-bind="mysqlClusterTable.title"></span>
    </h4>
  </div>
  <div class="widget-body">
    <div class="table-warp">
      <div mi-Tablehead head-content="mysqlClusterTable.thead"></div>
      <div class="table-body">
        <table class="table table-striped" ng-if="mysqlClusterData.code == 0">
          <tbody>
          <tr ng-repeat="clusterD in mysqlClusterPage[curPage-1]">
            <td class="td_manager_name">
              <a ng-href="{{configs.routers.goMySQLrouter}}/{{clusterD.manager_id + ' ' + 0}}" ng-bind="clusterD.manager_name"></a>
            </td>
            <td class="td_master">
              <span ng-bind="clusterD.manager_host_name"></span>
              <span class="label label-primary" ng-bind="clusterD.version"></span><br>
              <span ng-bind="clusterD.manager_ip"></span><br>
            </td>
            <td class="td_machine">
              <a ng-href="{{configs.routers.goMySQLmachine}}/{{clusterD.manager_id + ' ' + 0}}" ng-bind="clusterD.machine_count"></a>
            </td>
            <td class="appId td_apps">
                <span class="pointer" ng-mouseenter="queryAppId(clusterD.manager_id, clusterD)" ng-mouseleave="hideDialog(clusterD)">
                  {{clusterD.app_count}}
                  <div ng-show="clusterD.showDialog" mi-dialog  dialog-content="mysqlClusterApp"></div>
                </span>
            </td>
            <td class="td_tool">
                <span ng-click="queryMySQLCluster(clusterD.manager_id, clusterD)" title="{{errData.button.text}}" style="text-decoration: none;" class="pointer glyphicon {{errData.button.icon}}" aria-hidden="true" ng-mouseleave="hideRefresh(clusterD)">
                  <span ng-show="clusterD.refreshMsg" ng-bind="refreshMsg.text" ng-class="refreshMsg.style"></span>
                </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div mi-paging page-content="mysqlClusterPage" current-page="curPage" current-listpage="showPage"></div>
  </div>
</div>
